<!DOCTYPE html>
<html>

<head>
  <title>New Message</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>New Message</h1>
  <form method="POST" action="/new">
    <input name='user' type='text' placeholder='Your name'/>
    <input name='text' type='textarea' placeholder="What have you got to say?" />
    <button type='submit'>Submit</button>
  </form>


</body>

</html>