<!DOCTYPE html>
<html>
  <head>
    <title>All Messages</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>All Messages</h1>
    <ul>
      <% messages.forEach((message)=> { %>
        <li><%= message.user %> said: <%= message.text %> on <%= message.added %>.</li>
      <%})%>
    </ul>

    <a href='/new'>Create new message</a>
    
    
  </body>
</html>
